<h1>Show Article</h1>
<link href="https://vjs.zencdn.net/7.8.3/video-js.css" rel="stylesheet" />
<p>
    Title: <%= @article.title %>
</p>

<p>
    <strong>Views:</strong>
    <%= @article.views %>
</p>

<p>
    Description: <%= @article.description %>
</p>

<%= link_to "Edit Article", edit_article_path(@article) %> |
<%= link_to "Back to Articles", articles_path %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you Sure?"} %>
<script src="https://vjs.zencdn.net/7.8.3/video.js"></script>