<%= render 'shared/errors', obj: @user %>
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
    <div class="card" style="border-radius: 50px;">
      <div class="card-body p-5">
        <form>
          <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}, url: signup_path) do |f| %>
          <div class="form-outline mb-4">
              <%= f.text_field :username, class: "form-control form-control-lg rounded-pill", placeholder: "Enter username", autofocus: true, type: "text", id: "form3Example1cg"%>

          </div>

          <div class="form-outline mb-4">
            <%= f.email_field :email, class: "form-control form-control-lg rounded-pill", placeholder: "Enter email", type: "email", id: "form3Example3cg"%> 
            <label class="form-label" for="form3Example3cg"></label>
          </div>

          <div class="form-outline mb-4">
              <%= f.password_field :password, class: "form-control form-control-lg rounded-pill", placeholder: "Enter password", type: "password", id: "form3Example4cg", autofocus: false%>
            <label class="form-label" for="form3Example4cg"></label>
          </div>

          <div class="form-outline mb-4">
            <%= f.password_field :password_confirmation, class: "form-control form-control-lg rounded-pill", placeholder: "Confirm Password", type: "password", id: "form3Example4cg", autofocus: false%>
          <label class="form-label" for="form3Example4cg"></label>
          </div>

          <div class="d-flex justify-content-center">
            <%= f.submit(@user.new_record? ? "Sign up" : "Update acount", class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body") %>
          </div>
          <p class="text-center text-muted mt-5 mb-0">Have already an account?<u><%= link_to 'Login', login_path, class: "fw-bold text-body" %></u></p>
        </form>
        <% end %> 
      </div>
    </div>
  </div>
</div>